body{
  background-color: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

*{
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

.container{
  background-color: rgb(0, 194, 0);
  border: 6px solid green;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  height: 800px;
  max-height: 100vh;
  border-radius: 15px;
  position: relative;
}

.snake-part{
  width: 20px;
  height: 20px;
  background-color: #5b7af8;
  position: absolute;
  transition: .4s;
}

.fruit{
  width: 30px;
  height: 30px;
  position: absolute;
}

.fruit img{
  width: 100%;
}

.curr-score{
  background-color: rgba(0 0 0 / .7);
  border: 1px solid white;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 5px;
  right: 5px;
  position: absolute;
  font-weight: bolder;
}

.curr-score img{
  width: 30px;
}


.menu{
  background-color: rgb(0, 194, 0);
  border: 6px solid green;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.game-title{
  text-align: center;
  color: rgb(0, 95, 0);
}

.score{
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.final-score{
  display: none;
}

.start-btn{
  background-color: transparent;
  color: rgb(0, 62, 0);
  border: 2px solid green;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}